# Pre-Processing and Cleaning of Data

In [2]:
import pandas as pd
from pathlib import Path

In [3]:
dir_path = Path().cwd().parent
if (dir_path / Path('data_files/raw_data')).exists():
    raw_data_path = dir_path / Path('data_files/raw_data')
else:
    (dir_path / Path('data_files/raw_data')).mkdir(parents=True, exist_ok=True)
    raw_data_path = dir_path / Path('data_files/raw_data')

In [4]:
crash_data_path = dir_path / raw_data_path /  Path("Motor_Vehicle_Collisions_-_Crashes.csv")
if crash_data_path.exists():
    crash_data = pd.read_csv(str(crash_data_path), low_memory=False)
else:
    raise FileNotFoundError("Please download dataset and rename appropiately: https://data.cityofnewyork.us/Public-Safety/Motor-Vehicle-Collisions-Crashes/h9gi-nx95/about_data")

person_data_path = dir_path / raw_data_path / Path("Motor_Vehicle_Collisions_-_Person.csv")
if person_data_path.exists():
    person_data = pd.read_csv(str(person_data_path), low_memory=False)
else:
    raise FileNotFoundError("Please download dataset and rename appropiately: https://data.cityofnewyork.us/Public-Safety/Motor-Vehicle-Collisions-Person/f55k-p6yu/about_data")

In [5]:
print("Crash Data:")
display(crash_data.head())

Crash Data:

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,09/11/2021,2:39,NaN,NaN,NaN,NaN,NaN,WHITESTONE EXPRESSWAY,20 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4455765,Sedan,Sedan,NaN,NaN,NaN
1,03/26/2022,11:45,NaN,NaN,NaN,NaN,NaN,QUEENSBORO BRIDGE UPPER,NaN,NaN,...,NaN,NaN,NaN,NaN,4513547,Sedan,NaN,NaN,NaN,NaN
2,06/29/2022,6:55,NaN,NaN,NaN,NaN,NaN,THROGS NECK BRIDGE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4541903,Sedan,Pick-up Truck,NaN,NaN,NaN
3,09/11/2021,9:35,BROOKLYN,11208,40.667202,-73.866500,"(40.667202, -73.8665)",NaN,NaN,1211 LORING AVENUE,...,NaN,NaN,NaN,NaN,4456314,Sedan,NaN,NaN,NaN,NaN
4,12/14/2021,8:13,BROOKLYN,11233,40.683304,-73.917274,"(40.683304, -73.917274)",SARATOGA AVENUE,DECATUR STREET,NaN,...,NaN,NaN,NaN,NaN,4486609,NaN,NaN,NaN,NaN,NaN

In [6]:
# display datatypes and range
print("\nCrash Data Info:")
crash_data.info()

Crash Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2125763 entries, 0 to 2125762
Data columns (total 29 columns):
 #   Column                         Dtype
---  ------                         -----
 0   CRASH DATE                     object
 1   CRASH TIME                     object
 2   BOROUGH                        object
 3   ZIP CODE                       object
 4   LATITUDE                       float64
 5   LONGITUDE                      float64
 6   LOCATION                       object
 7   ON STREET NAME                 object
 8   CROSS STREET NAME              object
 9   OFF STREET NAME                object
 10  NUMBER OF PERSONS INJURED      float64
 11  NUMBER OF PERSONS KILLED       float64
 12  NUMBER OF PEDESTRIANS INJURED  int64
 13  NUMBER OF PEDESTRIANS KILLED   int64
 14  NUMBER OF CYCLIST INJURED      int64
 15  NUMBER OF CYCLIST KILLED       int64
 16  NUMBER OF MOTORIST INJURED     int64
 17  NUMBER OF MOTORIST KILLED      int64
 18  CONTRIBUTING FACTOR VEHICLE 1  object
 19  CONTRIBUTING FACTOR VEHICLE 2  object
 20  CONTRIBUTING FACTOR VEHICLE 3  object
 21  CONTRIBUTING FACTOR VEHICLE 4  object
 22  CONTRIBUTING FACTOR VEHICLE 5  object
 23  COLLISION_ID                   int64
 24  VEHICLE TYPE CODE 1            object
 25  VEHICLE TYPE CODE 2            object
 26  VEHICLE TYPE CODE 3            object
 27  VEHICLE TYPE CODE 4            object
 28  VEHICLE TYPE CODE 5            object
dtypes: float64(4), int64(7), object(18)
memory usage: 470.3+ MB

In [7]:
crash_data.columns = crash_data.columns.str.replace(" ", "_")
display(crash_data.columns)

Index(['CRASH_DATE', 'CRASH_TIME', 'BOROUGH', 'ZIP_CODE', 'LATITUDE',
       'LONGITUDE', 'LOCATION', 'ON_STREET_NAME', 'CROSS_STREET_NAME',
       'OFF_STREET_NAME', 'NUMBER_OF_PERSONS_INJURED',
       'NUMBER_OF_PERSONS_KILLED', 'NUMBER_OF_PEDESTRIANS_INJURED',
       'NUMBER_OF_PEDESTRIANS_KILLED', 'NUMBER_OF_CYCLIST_INJURED',
       'NUMBER_OF_CYCLIST_KILLED', 'NUMBER_OF_MOTORIST_INJURED',
       'NUMBER_OF_MOTORIST_KILLED', 'CONTRIBUTING_FACTOR_VEHICLE_1',
       'CONTRIBUTING_FACTOR_VEHICLE_2', 'CONTRIBUTING_FACTOR_VEHICLE_3',
       'CONTRIBUTING_FACTOR_VEHICLE_4', 'CONTRIBUTING_FACTOR_VEHICLE_5',
       'COLLISION_ID', 'VEHICLE_TYPE_CODE_1', 'VEHICLE_TYPE_CODE_2',
       'VEHICLE_TYPE_CODE_3', 'VEHICLE_TYPE_CODE_4', 'VEHICLE_TYPE_CODE_5'],
      dtype='object')

### Cleaning the Location related Columns

In [8]:
# Sub-setting the crash DataFrame for only the columns I need
location_df = crash_data[['COLLISION_ID', 'CRASH_DATE', 'CRASH_TIME', 'LATITUDE',
       'LONGITUDE', 'LOCATION', 'NUMBER_OF_PERSONS_INJURED',
       'NUMBER_OF_PERSONS_KILLED', 'CONTRIBUTING_FACTOR_VEHICLE_1',
       'CONTRIBUTING_FACTOR_VEHICLE_2']]

In [9]:
display(location_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2125763 entries, 0 to 2125762
Data columns (total 10 columns):
 #   Column                         Dtype
---  ------                         -----
 0   COLLISION_ID                   int64
 1   CRASH_DATE                     object
 2   CRASH_TIME                     object
 3   LATITUDE                       float64
 4   LONGITUDE                      float64
 5   LOCATION                       object
 6   NUMBER_OF_PERSONS_INJURED      float64
 7   NUMBER_OF_PERSONS_KILLED       float64
 8   CONTRIBUTING_FACTOR_VEHICLE_1  object
 9   CONTRIBUTING_FACTOR_VEHICLE_2  object
dtypes: float64(4), int64(1), object(5)
memory usage: 162.2+ MB

None

In [10]:
# Check for missing values 
print("Missing values in Location Data:")
print(location_df.isnull().sum())

Missing values in Location Data:
COLLISION_ID                          0
CRASH_DATE                            0
CRASH_TIME                            0
LATITUDE                         252597
LONGITUDE                        252597
LOCATION                         252597
NUMBER_OF_PERSONS_INJURED            18
NUMBER_OF_PERSONS_KILLED             31
CONTRIBUTING_FACTOR_VEHICLE_1      7144
CONTRIBUTING_FACTOR_VEHICLE_2    333073
dtype: int64

In [11]:
# Drop all the rows where location is missing
location_df.dropna(subset=['LOCATION'], how='all', inplace=True)
location_df = location_df.query("(40.5774 <= LATITUDE <= 45.01585) & (-74.2591 <= LONGITUDE <= -73.7004)").copy()
location_df.drop(columns='LOCATION', inplace=True)

/var/folders/k0/7nbjk7js45l8wk701f59my980000gn/T/ipykernel_17192/2061959582.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  location_df.dropna(subset=['LOCATION'], how='all', inplace=True)

In [12]:
# Cleaning of Contributing Factors
location_df = location_df[location_df[['CONTRIBUTING_FACTOR_VEHICLE_1', 'CONTRIBUTING_FACTOR_VEHICLE_2']].notnull().all(axis=1)].copy()

location_df = location_df.query(
"(CONTRIBUTING_FACTOR_VEHICLE_1 != 'Unspecified' | CONTRIBUTING_FACTOR_VEHICLE_2 != 'Unspecified') & "
"(CONTRIBUTING_FACTOR_VEHICLE_1 != '80' & CONTRIBUTING_FACTOR_VEHICLE_2 != '80') & (CONTRIBUTING_FACTOR_VEHICLE_1 != '1' & CONTRIBUTING_FACTOR_VEHICLE_2 != '1')").copy()

rename_dict ={
    'Cell Phone (hand-held)': 'Cell Phone (Hand-Held)',
    'Cell Phone (hand-Held)': 'Cell Phone (Hand-Held)',
    'Cell Phone (hands-free)': 'Cell Phone (Hands-Free)',
    'Drugs (illegal)': 'Drugs (Illegal)', 
    'Illnes': 'Illness'
}
location_df['CONTRIBUTING_FACTOR_VEHICLE_1'] = location_df['CONTRIBUTING_FACTOR_VEHICLE_1'].replace(rename_dict).copy()
location_df['CONTRIBUTING_FACTOR_VEHICLE_2'] = location_df['CONTRIBUTING_FACTOR_VEHICLE_2'].replace(rename_dict).copy()

In [13]:
# fill nulls with 'UNKNOWN' or 0 
location_df.fillna({
    "NUMBER_OF_PERSONS_INJURED":  0.0,
    "NUMBER_OF_PERSONS_KILLED":  0.0,
}, inplace=True)

print("Location Data after cleaning:")
print(location_df.isnull().sum())

Location Data after cleaning:
COLLISION_ID                     0
CRASH_DATE                       0
CRASH_TIME                       0
LATITUDE                         0
LONGITUDE                        0
NUMBER_OF_PERSONS_INJURED        0
NUMBER_OF_PERSONS_KILLED         0
CONTRIBUTING_FACTOR_VEHICLE_1    0
CONTRIBUTING_FACTOR_VEHICLE_2    0
dtype: int64

In [14]:
import datetime as dt
# Handle Types
location_df['CRASH_DATE'] = pd.to_datetime(location_df['CRASH_DATE'])
location_df['CRASH_TIME'] = pd.to_datetime(location_df['CRASH_TIME'], format='%H:%M').dt.time

location_df = location_df.astype({
        'NUMBER_OF_PERSONS_INJURED': 'int', 
        'NUMBER_OF_PERSONS_KILLED': 'int',
        })

In [15]:
def create_accident_severity(row):
    if row['NUMBER_OF_PERSONS_KILLED'] > 0:
        return 'Fatal'
    elif row['NUMBER_OF_PERSONS_INJURED'] >= 3:
        return 'Major Injury'
    elif row['NUMBER_OF_PERSONS_INJURED'] > 0:
        return 'Minor Injury'
    else:
        return 'No Injury'

In [16]:
# Creating Encoding Data
location_df['ACCIDENT_SEVERITY'] = location_df.apply(create_accident_severity, axis=1)
display(location_df.head())

,COLLISION_ID,CRASH_DATE,CRASH_TIME,LATITUDE,LONGITUDE,NUMBER_OF_PERSONS_INJURED,NUMBER_OF_PERSONS_KILLED,CONTRIBUTING_FACTOR_VEHICLE_1,CONTRIBUTING_FACTOR_VEHICLE_2,ACCIDENT_SEVERITY
6,4486555,2021-12-14,17:05:00,40.709183,-73.956825,0,0,Passing Too Closely,Unspecified,No Injury
8,4487074,2021-12-14,21:10:00,40.671720,-73.897100,0,0,Driver Inexperience,Unspecified,No Injury
9,4486519,2021-12-14,14:58:00,40.751440,-73.973970,0,0,Passing Too Closely,Unspecified,No Injury
10,4486934,2021-12-13,00:34:00,40.701275,-73.888870,0,0,Passing or Lane Usage Improper,Unspecified,No Injury
11,4487127,2021-12-14,16:50:00,40.675884,-73.755770,0,0,Turning Improperly,Unspecified,No Injury

In [17]:
location_df.reset_index(drop=True, inplace=True)
location_df.head()

,COLLISION_ID,CRASH_DATE,CRASH_TIME,LATITUDE,LONGITUDE,NUMBER_OF_PERSONS_INJURED,NUMBER_OF_PERSONS_KILLED,CONTRIBUTING_FACTOR_VEHICLE_1,CONTRIBUTING_FACTOR_VEHICLE_2,ACCIDENT_SEVERITY
0,4486555,2021-12-14,17:05:00,40.709183,-73.956825,0,0,Passing Too Closely,Unspecified,No Injury
1,4487074,2021-12-14,21:10:00,40.671720,-73.897100,0,0,Driver Inexperience,Unspecified,No Injury
2,4486519,2021-12-14,14:58:00,40.751440,-73.973970,0,0,Passing Too Closely,Unspecified,No Injury
3,4486934,2021-12-13,00:34:00,40.701275,-73.888870,0,0,Passing or Lane Usage Improper,Unspecified,No Injury
4,4487127,2021-12-14,16:50:00,40.675884,-73.755770,0,0,Turning Improperly,Unspecified,No Injury

In [18]:
# Try to find the Borough for each location entry
import geopandas as gpd
from shapely.geometry import Point

# Convert latitude and longitude to shapely Point objects
location_df['geometry'] = location_df.apply(lambda row: Point(row['LONGITUDE'], row['LATITUDE']), axis=1)

# Convert to a GeoDataFrame
points_gdf = gpd.GeoDataFrame(location_df, geometry='geometry')

# Ensure the GeoDataFrame has the correct CRS (WGS84 - EPSG:4326)
points_gdf.set_crs(epsg=4326, inplace=True)

# Load the shapefile of boroughs (assuming it contains a 'BOROUGH' column)
shapefile_path = dir_path  / Path('Borough Boundaries/geo_borough.shp')
boroughs_gdf = gpd.read_file(shapefile_path)

if boroughs_gdf.crs is None:
    boroughs_gdf.set_crs(epsg=2263, inplace=True)

# Ensure the shapefile uses the same CRS as the points
boroughs_gdf = boroughs_gdf.to_crs(epsg=4326)
# Perform a spatial join to find which borough each point is in
result_gdf = gpd.sjoin(points_gdf, boroughs_gdf, how='inner', predicate='within')

result_gdf.head()

,COLLISION_ID,CRASH_DATE,CRASH_TIME,LATITUDE,LONGITUDE,NUMBER_OF_PERSONS_INJURED,NUMBER_OF_PERSONS_KILLED,CONTRIBUTING_FACTOR_VEHICLE_1,CONTRIBUTING_FACTOR_VEHICLE_2,ACCIDENT_SEVERITY,geometry,index_right,boro_code,boro_name,shape_area,shape_leng
0,4486555,2021-12-14,17:05:00,40.709183,-73.956825,0,0,Passing Too Closely,Unspecified,No Injury,POINT (-73.95682 40.70918),0,3.0,Brooklyn,1.934143e+09,728147.130565
1,4487074,2021-12-14,21:10:00,40.671720,-73.897100,0,0,Driver Inexperience,Unspecified,No Injury,POINT (-73.8971 40.67172),0,3.0,Brooklyn,1.934143e+09,728147.130565
2,4486519,2021-12-14,14:58:00,40.751440,-73.973970,0,0,Passing Too Closely,Unspecified,No Injury,POINT (-73.97397 40.75144),2,1.0,Manhattan,6.366461e+08,360037.525777
3,4486934,2021-12-13,00:34:00,40.701275,-73.888870,0,0,Passing or Lane Usage Improper,Unspecified,No Injury,POINT (-73.88887 40.70128),4,4.0,Queens,3.041418e+09,888197.010944
4,4487127,2021-12-14,16:50:00,40.675884,-73.755770,0,0,Turning Improperly,Unspecified,No Injury,POINT (-73.75577 40.67588),4,4.0,Queens,3.041418e+09,888197.010944

In [19]:
location_df = result_gdf.drop(columns=['boro_code', 'shape_area', 'shape_leng', 'geometry', 'index_right'])
location_df.rename(columns={'boro_name': 'BOROUGH'}, inplace=True)
location_df.head()

,COLLISION_ID,CRASH_DATE,CRASH_TIME,LATITUDE,LONGITUDE,NUMBER_OF_PERSONS_INJURED,NUMBER_OF_PERSONS_KILLED,CONTRIBUTING_FACTOR_VEHICLE_1,CONTRIBUTING_FACTOR_VEHICLE_2,ACCIDENT_SEVERITY,BOROUGH
0,4486555,2021-12-14,17:05:00,40.709183,-73.956825,0,0,Passing Too Closely,Unspecified,No Injury,Brooklyn
1,4487074,2021-12-14,21:10:00,40.671720,-73.897100,0,0,Driver Inexperience,Unspecified,No Injury,Brooklyn
2,4486519,2021-12-14,14:58:00,40.751440,-73.973970,0,0,Passing Too Closely,Unspecified,No Injury,Manhattan
3,4486934,2021-12-13,00:34:00,40.701275,-73.888870,0,0,Passing or Lane Usage Improper,Unspecified,No Injury,Queens
4,4487127,2021-12-14,16:50:00,40.675884,-73.755770,0,0,Turning Improperly,Unspecified,No Injury,Queens

In [20]:
location_df.to_csv(str(dir_path / Path('data_files/clean_data/location_data.csv')), index=False)

In [21]:
person_data.head()

,UNIQUE_ID,COLLISION_ID,CRASH_DATE,CRASH_TIME,PERSON_ID,PERSON_TYPE,PERSON_INJURY,VEHICLE_ID,PERSON_AGE,EJECTION,...,BODILY_INJURY,POSITION_IN_VEHICLE,SAFETY_EQUIPMENT,PED_LOCATION,PED_ACTION,COMPLAINT,PED_ROLE,CONTRIBUTING_FACTOR_1,CONTRIBUTING_FACTOR_2,PERSON_SEX
0,10249006,4229554,10/26/2019,9:43,31aa2bc0-f545-444f-8cdb-f1cb5cf00b89,Occupant,Unspecified,19141108.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Registrant,NaN,NaN,U
1,10255054,4230587,10/25/2019,15:15,4629e500-a73e-48dc-b8fb-53124d124b80,Occupant,Unspecified,19144075.0,33.0,Not Ejected,...,Does Not Apply,"Front passenger, if two or more persons, inclu...",Lap Belt & Harness,NaN,NaN,Does Not Apply,Passenger,NaN,NaN,F
2,10253177,4230550,10/26/2019,17:55,ae48c136-1383-45db-83f4-2a5eecfb7cff,Occupant,Unspecified,19143133.0,55.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Registrant,NaN,NaN,M
3,6650180,3565527,11/21/2016,13:05,2782525,Occupant,Unspecified,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Notified Person,NaN,NaN,NaN
4,10255516,4231168,10/25/2019,11:16,e038e18f-40fb-4471-99cf-345eae36e064,Occupant,Unspecified,19144329.0,7.0,Not Ejected,...,Does Not Apply,Right rear passenger or motorcycle sidecar pas...,Lap Belt,NaN,NaN,Does Not Apply,Passenger,NaN,NaN,F

In [22]:
# Gather info about People involved in accident
person_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5495040 entries, 0 to 5495039
Data columns (total 21 columns):
 #   Column                 Dtype
---  ------                 -----
 0   UNIQUE_ID              int64
 1   COLLISION_ID           int64
 2   CRASH_DATE             object
 3   CRASH_TIME             object
 4   PERSON_ID              object
 5   PERSON_TYPE            object
 6   PERSON_INJURY          object
 7   VEHICLE_ID             float64
 8   PERSON_AGE             float64
 9   EJECTION               object
 10  EMOTIONAL_STATUS       object
 11  BODILY_INJURY          object
 12  POSITION_IN_VEHICLE    object
 13  SAFETY_EQUIPMENT       object
 14  PED_LOCATION           object
 15  PED_ACTION             object
 16  COMPLAINT              object
 17  PED_ROLE               object
 18  CONTRIBUTING_FACTOR_1  object
 19  CONTRIBUTING_FACTOR_2  object
 20  PERSON_SEX             object
dtypes: float64(2), int64(2), object(17)
memory usage: 880.4+ MB

In [23]:
# Identify which columns are null
person_data.isnull().sum()

UNIQUE_ID                      0
COLLISION_ID                   0
CRASH_DATE                     0
CRASH_TIME                     0
PERSON_ID                     19
PERSON_TYPE                    0
PERSON_INJURY                  0
VEHICLE_ID                224115
PERSON_AGE                597119
EJECTION                 2673321
EMOTIONAL_STATUS         2587450
BODILY_INJURY            2587407
POSITION_IN_VEHICLE      2672929
SAFETY_EQUIPMENT         2855212
PED_LOCATION             5404189
PED_ACTION               5404290
COMPLAINT                2587400
PED_ROLE                  194889
CONTRIBUTING_FACTOR_1    5405540
CONTRIBUTING_FACTOR_2    5405657
PERSON_SEX                613524
dtype: int64

In [24]:
# Subsetting Data to focus on relevant columns

person_detail_df = person_data[['COLLISION_ID', 'PERSON_AGE', 'PERSON_TYPE', 'PERSON_SEX', 'BODILY_INJURY', 'EJECTION']]

person_detail_df.head()

,COLLISION_ID,PERSON_AGE,PERSON_TYPE,PERSON_SEX,BODILY_INJURY,EJECTION
0,4229554,NaN,Occupant,U,NaN,NaN
1,4230587,33.0,Occupant,F,Does Not Apply,Not Ejected
2,4230550,55.0,Occupant,M,NaN,NaN
3,3565527,NaN,Occupant,NaN,NaN,NaN
4,4231168,7.0,Occupant,F,Does Not Apply,Not Ejected

In [25]:
avg_age = person_detail_df['PERSON_AGE'].mean(skipna=True).round(decimals=0)

person_detail_df.loc[:, 'PERSON_AGE'] = person_detail_df['PERSON_AGE'].fillna(avg_age).copy()

person_detail_df.head()

,COLLISION_ID,PERSON_AGE,PERSON_TYPE,PERSON_SEX,BODILY_INJURY,EJECTION
0,4229554,37.0,Occupant,U,NaN,NaN
1,4230587,33.0,Occupant,F,Does Not Apply,Not Ejected
2,4230550,55.0,Occupant,M,NaN,NaN
3,3565527,37.0,Occupant,NaN,NaN,NaN
4,4231168,7.0,Occupant,F,Does Not Apply,Not Ejected

In [26]:
# Correct the Data Types
print('Before the conversion: ')
display(person_detail_df.info())

person_detail_df['PERSON_AGE'] = person_detail_df['PERSON_AGE'].astype(int)

print('After the conversion: ')
display(person_detail_df.info())

person_detail_df.head()

Before the conversion:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5495040 entries, 0 to 5495039
Data columns (total 6 columns):
 #   Column         Dtype
---  ------         -----
 0   COLLISION_ID   int64
 1   PERSON_AGE     float64
 2   PERSON_TYPE    object
 3   PERSON_SEX     object
 4   BODILY_INJURY  object
 5   EJECTION       object
dtypes: float64(1), int64(1), object(4)
memory usage: 251.5+ MB

None

After the conversion:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5495040 entries, 0 to 5495039
Data columns (total 6 columns):
 #   Column         Dtype
---  ------         -----
 0   COLLISION_ID   int64
 1   PERSON_AGE     int64
 2   PERSON_TYPE    object
 3   PERSON_SEX     object
 4   BODILY_INJURY  object
 5   EJECTION       object
dtypes: int64(2), object(4)
memory usage: 251.5+ MB

/var/folders/k0/7nbjk7js45l8wk701f59my980000gn/T/ipykernel_17192/2164663595.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  person_detail_df['PERSON_AGE'] = person_detail_df['PERSON_AGE'].astype(int)

None

,COLLISION_ID,PERSON_AGE,PERSON_TYPE,PERSON_SEX,BODILY_INJURY,EJECTION
0,4229554,37,Occupant,U,NaN,NaN
1,4230587,33,Occupant,F,Does Not Apply,Not Ejected
2,4230550,55,Occupant,M,NaN,NaN
3,3565527,37,Occupant,NaN,NaN,NaN
4,4231168,7,Occupant,F,Does Not Apply,Not Ejected

In [27]:
# Change the Person Sex Column
person_detail_df['PERSON_SEX'] = person_detail_df['PERSON_SEX'].replace({
    'M': 'Male',
    'F': 'Female',
    'U': 'Unknown'
})
person_detail_df['PERSON_SEX'].fillna('UNKNOWN', inplace=True)
display(person_detail_df['PERSON_SEX'].value_counts())

/var/folders/k0/7nbjk7js45l8wk701f59my980000gn/T/ipykernel_17192/1794288905.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  person_detail_df['PERSON_SEX'] = person_detail_df['PERSON_SEX'].replace({
/var/folders/k0/7nbjk7js45l8wk701f59my980000gn/T/ipykernel_17192/1794288905.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  person_detail_df['PERSON_SEX'].fillna('UNKNOWN', inplace=True)
/var/folders/k0/7nbjk7js45l8wk701f59my980000gn/T/ipykernel_17192/1794288905.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  person_detail_df['PERSON_SEX'].fillna('UNKNOWN', inplace=True)

PERSON_SEX
Male       2962241
Female     1486701
UNKNOWN     613524
Unknown     432574
Name: count, dtype: int64

In [28]:
# Drop the columns where the bodily injury is not described
person_detail_df = person_detail_df.query("BODILY_INJURY != 'Unknown'")
person_detail_df['BODILY_INJURY'].value_counts()

BODILY_INJURY
Does Not Apply          2425278
Back                      80437
Neck                      77278
Knee-Lower Leg Foot       74045
Head                      66825
Entire Body               39435
Elbow-Lower-Arm-Hand      33220
Shoulder - Upper Arm      33130
Chest                     17564
Hip-Upper Leg             17066
Face                      12956
Abdomen - Pelvis           8477
Eye                         916
Name: count, dtype: int64

In [29]:
merge_df = pd.merge(location_df, person_detail_df, how='inner', on='COLLISION_ID')
print(location_df.shape)
print(person_detail_df.shape)
print(merge_df.shape)
merge_df.head(10)

(1079129, 11)
(5474034, 6)
(3480384, 16)

,COLLISION_ID,CRASH_DATE,CRASH_TIME,LATITUDE,LONGITUDE,NUMBER_OF_PERSONS_INJURED,NUMBER_OF_PERSONS_KILLED,CONTRIBUTING_FACTOR_VEHICLE_1,CONTRIBUTING_FACTOR_VEHICLE_2,ACCIDENT_SEVERITY,BOROUGH,PERSON_AGE,PERSON_TYPE,PERSON_SEX,BODILY_INJURY,EJECTION
0,4486555,2021-12-14,17:05:00,40.709183,-73.956825,0,0,Passing Too Closely,Unspecified,No Injury,Brooklyn,37,Occupant,Male,NaN,NaN
1,4486555,2021-12-14,17:05:00,40.709183,-73.956825,0,0,Passing Too Closely,Unspecified,No Injury,Brooklyn,32,Occupant,Female,Does Not Apply,Not Ejected
2,4486519,2021-12-14,14:58:00,40.751440,-73.973970,0,0,Passing Too Closely,Unspecified,No Injury,Manhattan,37,Occupant,Unknown,NaN,NaN
3,4486519,2021-12-14,14:58:00,40.751440,-73.973970,0,0,Passing Too Closely,Unspecified,No Injury,Manhattan,37,Occupant,Male,Does Not Apply,Not Ejected
4,4486519,2021-12-14,14:58:00,40.751440,-73.973970,0,0,Passing Too Closely,Unspecified,No Injury,Manhattan,22,Occupant,Male,Does Not Apply,Not Ejected
5,4486519,2021-12-14,14:58:00,40.751440,-73.973970,0,0,Passing Too Closely,Unspecified,No Injury,Manhattan,37,Occupant,Unknown,NaN,NaN
6,4486934,2021-12-13,00:34:00,40.701275,-73.888870,0,0,Passing or Lane Usage Improper,Unspecified,No Injury,Queens,30,Occupant,Male,Does Not Apply,Not Ejected
7,4486934,2021-12-13,00:34:00,40.701275,-73.888870,0,0,Passing or Lane Usage Improper,Unspecified,No Injury,Queens,29,Occupant,Female,Does Not Apply,Not Ejected
8,4486934,2021-12-13,00:34:00,40.701275,-73.888870,0,0,Passing or Lane Usage Improper,Unspecified,No Injury,Queens,34,Occupant,Male,NaN,NaN
9,4486934,2021-12-13,00:34:00,40.701275,-73.888870,0,0,Passing or Lane Usage Improper,Unspecified,No Injury,Queens,34,Occupant,Male,Does Not Apply,Not Ejected

In [30]:
merge_df.fillna({
    'EMOTIONAL_STATUS': 'Unknown',
    'SAFETY_EQUIPMENT': 'Unknown',
    'EJECTION': 'Unknown',
    'BODILY_INJURY': 'Unknown',
    'PERSON_AGE': 0,
    'PERSON_TYPE': 'Unknown',
    'PERSON_SEX': 'Unknown'
    
}, inplace=True)

merge_df = merge_df.replace({
    'Does Not Apply': 'Unknown'
})

In [31]:
merge_df.head(20)

,COLLISION_ID,CRASH_DATE,CRASH_TIME,LATITUDE,LONGITUDE,NUMBER_OF_PERSONS_INJURED,NUMBER_OF_PERSONS_KILLED,CONTRIBUTING_FACTOR_VEHICLE_1,CONTRIBUTING_FACTOR_VEHICLE_2,ACCIDENT_SEVERITY,BOROUGH,PERSON_AGE,PERSON_TYPE,PERSON_SEX,BODILY_INJURY,EJECTION
0,4486555,2021-12-14,17:05:00,40.709183,-73.956825,0,0,Passing Too Closely,Unspecified,No Injury,Brooklyn,37,Occupant,Male,Unknown,Unknown
1,4486555,2021-12-14,17:05:00,40.709183,-73.956825,0,0,Passing Too Closely,Unspecified,No Injury,Brooklyn,32,Occupant,Female,Unknown,Not Ejected
2,4486519,2021-12-14,14:58:00,40.751440,-73.973970,0,0,Passing Too Closely,Unspecified,No Injury,Manhattan,37,Occupant,Unknown,Unknown,Unknown
3,4486519,2021-12-14,14:58:00,40.751440,-73.973970,0,0,Passing Too Closely,Unspecified,No Injury,Manhattan,37,Occupant,Male,Unknown,Not Ejected
4,4486519,2021-12-14,14:58:00,40.751440,-73.973970,0,0,Passing Too Closely,Unspecified,No Injury,Manhattan,22,Occupant,Male,Unknown,Not Ejected
5,4486519,2021-12-14,14:58:00,40.751440,-73.973970,0,0,Passing Too Closely,Unspecified,No Injury,Manhattan,37,Occupant,Unknown,Unknown,Unknown
6,4486934,2021-12-13,00:34:00,40.701275,-73.888870,0,0,Passing or Lane Usage Improper,Unspecified,No Injury,Queens,30,Occupant,Male,Unknown,Not Ejected
7,4486934,2021-12-13,00:34:00,40.701275,-73.888870,0,0,Passing or Lane Usage Improper,Unspecified,No Injury,Queens,29,Occupant,Female,Unknown,Not Ejected
8,4486934,2021-12-13,00:34:00,40.701275,-73.888870,0,0,Passing or Lane Usage Improper,Unspecified,No Injury,Queens,34,Occupant,Male,Unknown,Unknown
9,4486934,2021-12-13,00:34:00,40.701275,-73.888870,0,0,Passing or Lane Usage Improper,Unspecified,No Injury,Queens,34,Occupant,Male,Unknown,Not Ejected
10,4487127,2021-12-14,16:50:00,40.675884,-73.755770,0,0,Turning Improperly,Unspecified,No Injury,Queens,25,Occupant,Male,Unknown,Unknown
11,4487127,2021-12-14,16:50:00,40.675884,-73.755770,0,0,Turning Improperly,Unspecified,No Injury,Queens,25,Occupant,Male,Unknown,Not Ejected
12,4487127,2021-12-14,16:50:00,40.675884,-73.755770,0,0,Turning Improperly,Unspecified,No Injury,Queens,67,Occupant,Female,Unknown,Unknown
13,4487127,2021-12-14,16:50:00,40.675884,-73.755770,0,0,Turning Improperly,Unspecified,No Injury,Queens,67,Occupant,Female,Unknown,Not Ejected
14,4486635,2021-12-14,23:10:00,40.666840,-73.789410,2,0,Reaction to Uninvolved Vehicle,Unspecified,Minor Injury,Queens,37,Occupant,Female,Unknown,Unknown
15,4486635,2021-12-14,23:10:00,40.666840,-73.789410,2,0,Reaction to Uninvolved Vehicle,Unspecified,Minor Injury,Queens,46,Occupant,Female,Face,Not Ejected
16,4486635,2021-12-14,23:10:00,40.666840,-73.789410,2,0,Reaction to Uninvolved Vehicle,Unspecified,Minor Injury,Queens,37,Occupant,Female,Entire Body,Not Ejected
17,4486635,2021-12-14,23:10:00,40.666840,-73.789410,2,0,Reaction to Uninvolved Vehicle,Unspecified,Minor Injury,Queens,37,Occupant,Female,Unknown,Unknown
18,4486635,2021-12-14,23:10:00,40.666840,-73.789410,2,0,Reaction to Uninvolved Vehicle,Unspecified,Minor Injury,Queens,37,Occupant,UNKNOWN,Unknown,Unknown
19,4486635,2021-12-14,23:10:00,40.666840,-73.789410,2,0,Reaction to Uninvolved Vehicle,Unspecified,Minor Injury,Queens,18,Occupant,Male,Unknown,Not Ejected

In [32]:
# Save to a csv file
person_detail_df.to_csv(str(dir_path / Path('data_files/clean_data/person_detail.csv')), index=False)

In [33]:
# Save to a csv file
merge_df.to_csv(str(dir_path / Path('data_files/clean_data/merged_data.csv')), index=False)