# Pre-Processing of Data
## Cleaning of Data for Model of Location Based Collision Hotspot Analysis

In [1]:
import pandas as pd
from pathlib import Path

In [2]:
dir_path = Path().cwd().parent
raw_data_path = Path('data_files/raw_data')

In [3]:
crash_data = pd.read_csv(str(dir_path / raw_data_path /  Path("Motor_Vehicle_Collisions_-_Crashes_20241012.csv")), low_memory=False)
person_data = pd.read_csv(str(dir_path / raw_data_path / Path("Motor_Vehicle_Collisions_-_Person_20241012.csv")), low_memory=False)

In [4]:
print("Crash Data:")
display(crash_data.head())
print("\nPerson Data:")
display(person_data.head())

Crash Data:

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,09/11/2021,2:39,NaN,NaN,NaN,NaN,NaN,WHITESTONE EXPRESSWAY,20 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4455765,Sedan,Sedan,NaN,NaN,NaN
1,03/26/2022,11:45,NaN,NaN,NaN,NaN,NaN,QUEENSBORO BRIDGE UPPER,NaN,NaN,...,NaN,NaN,NaN,NaN,4513547,Sedan,NaN,NaN,NaN,NaN
2,06/29/2022,6:55,NaN,NaN,NaN,NaN,NaN,THROGS NECK BRIDGE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4541903,Sedan,Pick-up Truck,NaN,NaN,NaN
3,09/11/2021,9:35,BROOKLYN,11208,40.667202,-73.866500,"(40.667202, -73.8665)",NaN,NaN,1211 LORING AVENUE,...,NaN,NaN,NaN,NaN,4456314,Sedan,NaN,NaN,NaN,NaN
4,12/14/2021,8:13,BROOKLYN,11233,40.683304,-73.917274,"(40.683304, -73.917274)",SARATOGA AVENUE,DECATUR STREET,NaN,...,NaN,NaN,NaN,NaN,4486609,NaN,NaN,NaN,NaN,NaN

Person Data:

,UNIQUE_ID,COLLISION_ID,CRASH_DATE,CRASH_TIME,PERSON_ID,PERSON_TYPE,PERSON_INJURY,VEHICLE_ID,PERSON_AGE,EJECTION,...,BODILY_INJURY,POSITION_IN_VEHICLE,SAFETY_EQUIPMENT,PED_LOCATION,PED_ACTION,COMPLAINT,PED_ROLE,CONTRIBUTING_FACTOR_1,CONTRIBUTING_FACTOR_2,PERSON_SEX
0,10249006,4229554,10/26/2019,9:43,31aa2bc0-f545-444f-8cdb-f1cb5cf00b89,Occupant,Unspecified,19141108.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Registrant,NaN,NaN,U
1,10255054,4230587,10/25/2019,15:15,4629e500-a73e-48dc-b8fb-53124d124b80,Occupant,Unspecified,19144075.0,33.0,Not Ejected,...,Does Not Apply,"Front passenger, if two or more persons, inclu...",Lap Belt & Harness,NaN,NaN,Does Not Apply,Passenger,NaN,NaN,F
2,10253177,4230550,10/26/2019,17:55,ae48c136-1383-45db-83f4-2a5eecfb7cff,Occupant,Unspecified,19143133.0,55.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Registrant,NaN,NaN,M
3,6650180,3565527,11/21/2016,13:05,2782525,Occupant,Unspecified,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Notified Person,NaN,NaN,NaN
4,10255516,4231168,10/25/2019,11:16,e038e18f-40fb-4471-99cf-345eae36e064,Occupant,Unspecified,19144329.0,7.0,Not Ejected,...,Does Not Apply,Right rear passenger or motorcycle sidecar pas...,Lap Belt,NaN,NaN,Does Not Apply,Passenger,NaN,NaN,F

In [5]:
print("\nPerson Data:")
display(person_data.head())

Person Data:

,UNIQUE_ID,COLLISION_ID,CRASH_DATE,CRASH_TIME,PERSON_ID,PERSON_TYPE,PERSON_INJURY,VEHICLE_ID,PERSON_AGE,EJECTION,...,BODILY_INJURY,POSITION_IN_VEHICLE,SAFETY_EQUIPMENT,PED_LOCATION,PED_ACTION,COMPLAINT,PED_ROLE,CONTRIBUTING_FACTOR_1,CONTRIBUTING_FACTOR_2,PERSON_SEX
0,10249006,4229554,10/26/2019,9:43,31aa2bc0-f545-444f-8cdb-f1cb5cf00b89,Occupant,Unspecified,19141108.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Registrant,NaN,NaN,U
1,10255054,4230587,10/25/2019,15:15,4629e500-a73e-48dc-b8fb-53124d124b80,Occupant,Unspecified,19144075.0,33.0,Not Ejected,...,Does Not Apply,"Front passenger, if two or more persons, inclu...",Lap Belt & Harness,NaN,NaN,Does Not Apply,Passenger,NaN,NaN,F
2,10253177,4230550,10/26/2019,17:55,ae48c136-1383-45db-83f4-2a5eecfb7cff,Occupant,Unspecified,19143133.0,55.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Registrant,NaN,NaN,M
3,6650180,3565527,11/21/2016,13:05,2782525,Occupant,Unspecified,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Notified Person,NaN,NaN,NaN
4,10255516,4231168,10/25/2019,11:16,e038e18f-40fb-4471-99cf-345eae36e064,Occupant,Unspecified,19144329.0,7.0,Not Ejected,...,Does Not Apply,Right rear passenger or motorcycle sidecar pas...,Lap Belt,NaN,NaN,Does Not Apply,Passenger,NaN,NaN,F

In [6]:
# display datatypes and range
print("\nCrash Data Info:")
crash_data.info()
print("\nPerson Data Info:")
person_data.info()

Crash Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2125763 entries, 0 to 2125762
Data columns (total 29 columns):
 #   Column                         Dtype
---  ------                         -----
 0   CRASH DATE                     object
 1   CRASH TIME                     object
 2   BOROUGH                        object
 3   ZIP CODE                       object
 4   LATITUDE                       float64
 5   LONGITUDE                      float64
 6   LOCATION                       object
 7   ON STREET NAME                 object
 8   CROSS STREET NAME              object
 9   OFF STREET NAME                object
 10  NUMBER OF PERSONS INJURED      float64
 11  NUMBER OF PERSONS KILLED       float64
 12  NUMBER OF PEDESTRIANS INJURED  int64
 13  NUMBER OF PEDESTRIANS KILLED   int64
 14  NUMBER OF CYCLIST INJURED      int64
 15  NUMBER OF CYCLIST KILLED       int64
 16  NUMBER OF MOTORIST INJURED     int64
 17  NUMBER OF MOTORIST KILLED      int64
 18  CONTRIBUTING FACTOR VEHICLE 1  object
 19  CONTRIBUTING FACTOR VEHICLE 2  object
 20  CONTRIBUTING FACTOR VEHICLE 3  object
 21  CONTRIBUTING FACTOR VEHICLE 4  object
 22  CONTRIBUTING FACTOR VEHICLE 5  object
 23  COLLISION_ID                   int64
 24  VEHICLE TYPE CODE 1            object
 25  VEHICLE TYPE CODE 2            object
 26  VEHICLE TYPE CODE 3            object
 27  VEHICLE TYPE CODE 4            object
 28  VEHICLE TYPE CODE 5            object
dtypes: float64(4), int64(7), object(18)
memory usage: 470.3+ MB

Person Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5495040 entries, 0 to 5495039
Data columns (total 21 columns):
 #   Column                 Dtype
---  ------                 -----
 0   UNIQUE_ID              int64
 1   COLLISION_ID           int64
 2   CRASH_DATE             object
 3   CRASH_TIME             object
 4   PERSON_ID              object
 5   PERSON_TYPE            object
 6   PERSON_INJURY          object
 7   VEHICLE_ID             float64
 8   PERSON_AGE             float64
 9   EJECTION               object
 10  EMOTIONAL_STATUS       object
 11  BODILY_INJURY          object
 12  POSITION_IN_VEHICLE    object
 13  SAFETY_EQUIPMENT       object
 14  PED_LOCATION           object
 15  PED_ACTION             object
 16  COMPLAINT              object
 17  PED_ROLE               object
 18  CONTRIBUTING_FACTOR_1  object
 19  CONTRIBUTING_FACTOR_2  object
 20  PERSON_SEX             object
dtypes: float64(2), int64(2), object(17)
memory usage: 880.4+ MB

In [7]:
crash_data.columns = crash_data.columns.str.replace(" ", "_")
display(crash_data.columns)

Index(['CRASH_DATE', 'CRASH_TIME', 'BOROUGH', 'ZIP_CODE', 'LATITUDE',
       'LONGITUDE', 'LOCATION', 'ON_STREET_NAME', 'CROSS_STREET_NAME',
       'OFF_STREET_NAME', 'NUMBER_OF_PERSONS_INJURED',
       'NUMBER_OF_PERSONS_KILLED', 'NUMBER_OF_PEDESTRIANS_INJURED',
       'NUMBER_OF_PEDESTRIANS_KILLED', 'NUMBER_OF_CYCLIST_INJURED',
       'NUMBER_OF_CYCLIST_KILLED', 'NUMBER_OF_MOTORIST_INJURED',
       'NUMBER_OF_MOTORIST_KILLED', 'CONTRIBUTING_FACTOR_VEHICLE_1',
       'CONTRIBUTING_FACTOR_VEHICLE_2', 'CONTRIBUTING_FACTOR_VEHICLE_3',
       'CONTRIBUTING_FACTOR_VEHICLE_4', 'CONTRIBUTING_FACTOR_VEHICLE_5',
       'COLLISION_ID', 'VEHICLE_TYPE_CODE_1', 'VEHICLE_TYPE_CODE_2',
       'VEHICLE_TYPE_CODE_3', 'VEHICLE_TYPE_CODE_4', 'VEHICLE_TYPE_CODE_5'],
      dtype='object')

In [8]:
#merge the crash and person data on 'COLLISION_ID'
merged_data = pd.merge(crash_data, person_data, on=['COLLISION_ID', 'CRASH_DATE', 'CRASH_TIME'], how='inner')

print("Merged Data (Crash + Person):")
display(merged_data.shape)

Merged Data (Crash + Person):

(5495040, 47)

In [ ]:
# Merged Data Columns
display(merged_data.columns)

In [ ]:
merged_data.head(20)

In [9]:
# Sub-setting the merged DataFrame for only the columns I need
location_df = crash_data.drop(['COLLISION_ID', 'VEHICLE_TYPE_CODE_1', 'VEHICLE_TYPE_CODE_2',
       'VEHICLE_TYPE_CODE_3', 'VEHICLE_TYPE_CODE_4', 'VEHICLE_TYPE_CODE_5'], axis=1)

In [10]:
display(location_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2125763 entries, 0 to 2125762
Data columns (total 23 columns):
 #   Column                         Dtype
---  ------                         -----
 0   CRASH_DATE                     object
 1   CRASH_TIME                     object
 2   BOROUGH                        object
 3   ZIP_CODE                       object
 4   LATITUDE                       float64
 5   LONGITUDE                      float64
 6   LOCATION                       object
 7   ON_STREET_NAME                 object
 8   CROSS_STREET_NAME              object
 9   OFF_STREET_NAME                object
 10  NUMBER_OF_PERSONS_INJURED      float64
 11  NUMBER_OF_PERSONS_KILLED       float64
 12  NUMBER_OF_PEDESTRIANS_INJURED  int64
 13  NUMBER_OF_PEDESTRIANS_KILLED   int64
 14  NUMBER_OF_CYCLIST_INJURED      int64
 15  NUMBER_OF_CYCLIST_KILLED       int64
 16  NUMBER_OF_MOTORIST_INJURED     int64
 17  NUMBER_OF_MOTORIST_KILLED      int64
 18  CONTRIBUTING_FACTOR_VEHICLE_1  object
 19  CONTRIBUTING_FACTOR_VEHICLE_2  object
 20  CONTRIBUTING_FACTOR_VEHICLE_3  object
 21  CONTRIBUTING_FACTOR_VEHICLE_4  object
 22  CONTRIBUTING_FACTOR_VEHICLE_5  object
dtypes: float64(4), int64(6), object(13)
memory usage: 373.0+ MB

None

In [11]:
#check for missing values 
print("Missing values in Location Data:")
print(location_df.isnull().sum())

Missing values in Location Data:
CRASH_DATE                             0
CRASH_TIME                             0
BOROUGH                           661104
ZIP_CODE                          661364
LATITUDE                          252597
LONGITUDE                         252597
LOCATION                          252597
ON_STREET_NAME                    455112
CROSS_STREET_NAME                 810044
OFF_STREET_NAME                  1763024
NUMBER_OF_PERSONS_INJURED             18
NUMBER_OF_PERSONS_KILLED              31
NUMBER_OF_PEDESTRIANS_INJURED          0
NUMBER_OF_PEDESTRIANS_KILLED           0
NUMBER_OF_CYCLIST_INJURED              0
NUMBER_OF_CYCLIST_KILLED               0
NUMBER_OF_MOTORIST_INJURED             0
NUMBER_OF_MOTORIST_KILLED              0
CONTRIBUTING_FACTOR_VEHICLE_1       7144
CONTRIBUTING_FACTOR_VEHICLE_2     333073
CONTRIBUTING_FACTOR_VEHICLE_3    1972957
CONTRIBUTING_FACTOR_VEHICLE_4    2091067
CONTRIBUTING_FACTOR_VEHICLE_5    2116325
dtype: int64

### Cleaning the Location related Columns

In [26]:
from geopy.geocoders import Nominatim, GoogleV3
from geopy.exc import  GeocoderTimedOut, GeocoderUnavailable
from pprint import pprint
import numpy as np
import time
import requests
from geopy.adapters import AioHTTPAdapter

In [17]:
def get_geolocation(address):
    time.sleep(1)
    location_string = app.geocode(address, timeout=10).raw
    pprint(location_string)
    return location_string

In [23]:
l = requests.get('https://nominatim.openstreetmap.org/search', params={'q': 'whitestone expressway', 'format': 'json'}, verify=True)

print(l.text)

<html>
<head>
<title>Access blocked</title>
</head>
<body>
<h1>Access blocked</h1>

<p>You have been blocked because you have violated the
<a href="https://operations.osmfoundation.org/policies/nominatim/">usage policy</a>
of OSM's Nominatim geocoding service. Please be aware that OSM's resources are
limited and shared between many users. The usage policy is there to ensure that
the service remains usable for everybody.</p>

<p>Please review the terms and make sure that your
software adheres to the terms. You should in particular verify that you have set a
<b>custom HTTP referrer or HTTP user agent</b> that identifies your application, and
that you are not overusing the service with massive bulk requests.</p>

<p>If you feel that this block is unjustified or remains after you have adopted
your usage, you may contact the Nominatim system administrator at
nominatim@openstreetmap.org to have this block lifted.</p>
</body>
</head>

In [28]:
# app = Nominatim(user_agent="Locations Data Cleaner")
app = Nominatim(user_agent="skater", adapter_factory=AioHTTPAdapter)
location_columns = ['BOROUGH', 'ZIP_CODE', 'ON_STREET_NAME', 'CROSS_STREET_NAME', 'OFF_STREET_NAME']
# Drop all rows where location column names are null
location_df.dropna(subset=location_columns, how='all', inplace=True)
temp_df = location_df.loc[location_df.LOCATION.isnull(), location_columns]

for idx, x in temp_df.iterrows():
    temp = [str(y) for y in x if str(y) != 'nan']
    name = get_geolocation(temp[0].lower())
    display(name)
    if idx == 1:
        break

ImportError: `aiohttp` must be installed in order to use AioHTTPAdapter. If you have installed geopy via pip, you may use this command to install aiohttp: `pip install "geopy[aiohttp]"`.

In [ ]:
#fill nulls with 'UNKNOWN' or 0 
location_df.fillna({
    "CONTRIBUTING_FACTOR_VEHICLE_1":  "UNKNOWN",
    "CONTRIBUTING_FACTOR_VEHICLE_2":  "UNKNOWN",
    "CONTRIBUTING_FACTOR_VEHICLE_3":  "UNKNOWN",
    "CONTRIBUTING_FACTOR_VEHICLE_4":  "UNKNOWN",
    "CONTRIBUTING_FACTOR_VEHICLE_5":  "UNKNOWN",
}, inplace=True)

print("Location Data after cleaning:")
print(location_df.isnull().sum())

In [ ]:
print("Crash Data after cleaning:")
print(crash_data.isnull().sum())

In [ ]:
# Fill missing values for non-critical fields with 'UNKNOWN'
person_data.fillna({
    'PERSON_SEX': 'UNKNOWN',
    'EJECTION': 'UNKNOWN',
    'EMOTIONAL_STATUS': 'UNKNOWN',
    'BODILY_INJURY': 'UNKNOWN',
    'POSITION_IN_VEHICLE': 'UNKNOWN',
    'SAFETY_EQUIPMENT': 'UNKNOWN',
    'PED_LOCATION': 'UNKNOWN',
    'PED_ACTION': 'UNKNOWN',
    'COMPLAINT': 'UNKNOWN',
    'PED_ROLE': 'UNKNOWN',
    'CONTRIBUTING_FACTOR_1': 'UNKNOWN',
    'CONTRIBUTING_FACTOR_2': 'UNKNOWN'
}, inplace=True)

In [ ]:
print("Person Data after cleaning:")
print(person_data.isnull().sum())

In [ ]:
#merge the crash and person data on 'COLLISION_ID'
merged_data = pd.merge(crash_data, person_data, on='COLLISION_ID', how='inner')

print("Merged Data (Crash + Person):")
display(merged_data.shape)

In [ ]:
#drop rows where both 'ON STREET NAME' and 'CROSS STREET NAME' are 'UNKNOWN' and LATITUDE/LONGITUDE are missing in merged data
merged_data_cleaned = merged_data[
    ~(
        (merged_data['ON STREET NAME'] == 'UNKNOWN') &
        (merged_data['CROSS STREET NAME'] == 'UNKNOWN') &
        (merged_data['LATITUDE'].isnull()) &
        (merged_data['LONGITUDE'].isnull())
    )
]

# Display the remaining data after applying the conditions
print("Merged Data after dropping rows with missing location info:")
print(merged_data_cleaned.shape)

In [ ]:
# Check for unique values in categorical columns (e.g., BOROUGH, PERSON_TYPE, CONTRIBUTING FACTOR)
print("\nUnique values in BOROUGH:")
print(merged_data_cleaned['BOROUGH'].unique())

In [ ]:
print("\nUnique values in PERSON_TYPE:")
print(merged_data_cleaned['PERSON_TYPE'].unique())

In [ ]:
print("\nUnique values in CONTRIBUTING FACTOR:")
print(merged_data_cleaned['CONTRIBUTING FACTOR VEHICLE 1'].unique())

In [ ]:
# Count the number of 'UNKNOWN' in each contributing factor column
unknown_factors_vehicle_1 = merged_data_cleaned['CONTRIBUTING FACTOR VEHICLE 1'].str.upper().value_counts().get('UNKNOWN', 0)
unknown_factors_vehicle_2 = merged_data_cleaned['CONTRIBUTING FACTOR VEHICLE 2'].str.upper().value_counts().get('UNKNOWN', 0)
unknown_factors_vehicle_3 = merged_data_cleaned['CONTRIBUTING FACTOR VEHICLE 3'].str.upper().value_counts().get('UNKNOWN', 0)
unknown_factors_vehicle_4 = merged_data_cleaned['CONTRIBUTING FACTOR VEHICLE 4'].str.upper().value_counts().get('UNKNOWN', 0)
unknown_factors_vehicle_5 = merged_data_cleaned['CONTRIBUTING FACTOR VEHICLE 5'].str.upper().value_counts().get('UNKNOWN', 0)

# Print the results
print(f"Number of 'UNKNOWN' in Contributing Factor Vehicle 1: {unknown_factors_vehicle_1}")
print(f"Number of 'UNKNOWN' in Contributing Factor Vehicle 2: {unknown_factors_vehicle_2}")
print(f"Number of 'UNKNOWN' in Contributing Factor Vehicle 3: {unknown_factors_vehicle_3}")
print(f"Number of 'UNKNOWN' in Contributing Factor Vehicle 4: {unknown_factors_vehicle_4}")
print(f"Number of 'UNKNOWN' in Contributing Factor Vehicle 5: {unknown_factors_vehicle_5}")

# Total unknown contributing factors across all columns
total_unknown_factors = (
    unknown_factors_vehicle_1 +
    unknown_factors_vehicle_2 +
    unknown_factors_vehicle_3 +
    unknown_factors_vehicle_4 +
    unknown_factors_vehicle_5
)

print(f"Total 'UNKNOWN' contributing factors: {total_unknown_factors}")

In [ ]:
# Filter rows where 'CONTRIBUTING FACTOR VEHICLE 1' is 'UNKNOWN'
unknown_in_vehicle_1 = merged_data_cleaned[merged_data_cleaned['CONTRIBUTING FACTOR VEHICLE 1'].str.upper() == 'UNKNOWN']

# Check if there are any non-'UNKNOWN' values in other contributing factor columns
# We'll check columns 'CONTRIBUTING FACTOR VEHICLE 2', 'CONTRIBUTING FACTOR VEHICLE 3', etc.
non_unknown_in_others = unknown_in_vehicle_1[
    (unknown_in_vehicle_1['CONTRIBUTING FACTOR VEHICLE 2'].str.upper() != 'UNKNOWN') |
    (unknown_in_vehicle_1['CONTRIBUTING FACTOR VEHICLE 3'].str.upper() != 'UNKNOWN') |
    (unknown_in_vehicle_1['CONTRIBUTING FACTOR VEHICLE 4'].str.upper() != 'UNKNOWN') |
    (unknown_in_vehicle_1['CONTRIBUTING FACTOR VEHICLE 5'].str.upper() != 'UNKNOWN')
]

# Count the number of such rows
count_non_unknown_in_others = len(non_unknown_in_others)

# Display the count and a sample of the filtered data
print(f"Number of rows where 'CONTRIBUTING FACTOR VEHICLE 1' is 'UNKNOWN' but other vehicles have known contributing factors: {count_non_unknown_in_others}")
display(non_unknown_in_others.head())

In [ ]:
merged_data_cleaned.loc['CONTRIBUTING FACTOR VEHICLE 1'].str.upper()

In [ ]:
# Convert all contributing factor columns to uppercase for consistency
merged_data_cleaned['CONTRIBUTING FACTOR VEHICLE 1'] = merged_data_cleaned.loc[merged_data_cleaned['CONTRIBUTING FACTOR VEHICLE 1']].str.upper()
merged_data_cleaned['CONTRIBUTING FACTOR VEHICLE 2'] = merged_data_cleaned['CONTRIBUTING FACTOR VEHICLE 2'].str.upper()
merged_data_cleaned['CONTRIBUTING FACTOR VEHICLE 3'] = merged_data_cleaned['CONTRIBUTING FACTOR VEHICLE 3'].str.upper()
merged_data_cleaned['CONTRIBUTING FACTOR VEHICLE 4'] = merged_data_cleaned['CONTRIBUTING FACTOR VEHICLE 4'].str.upper()
merged_data_cleaned['CONTRIBUTING FACTOR VEHICLE 5'] = merged_data_cleaned['CONTRIBUTING FACTOR VEHICLE 5'].str.upper()

# Define the conditions for 'UNKNOWN' or 'UNSPECIFIED' in all contributing factors
all_factors_unknown = merged_data_cleaned[
    (merged_data_cleaned['CONTRIBUTING FACTOR VEHICLE 1'].isin(['UNKNOWN', 'UNSPECIFIED'])) &
    (merged_data_cleaned['CONTRIBUTING FACTOR VEHICLE 2'].isin(['UNKNOWN', 'UNSPECIFIED'])) &
    (merged_data_cleaned['CONTRIBUTING FACTOR VEHICLE 3'].isin(['UNKNOWN', 'UNSPECIFIED'])) &
    (merged_data_cleaned['CONTRIBUTING FACTOR VEHICLE 4'].isin(['UNKNOWN', 'UNSPECIFIED'])) &
    (merged_data_cleaned['CONTRIBUTING FACTOR VEHICLE 5'].isin(['UNKNOWN', 'UNSPECIFIED']))
]

# Count the rows that satisfy the condition
count_all_factors_unknown = len(all_factors_unknown)

# Output the result
print(f"Number of rows with 'UNKNOWN' or 'UNSPECIFIED' in all contributing factor columns: {count_all_factors_unknown}")

In [ ]:
merged_data_cleaned.head()

In [ ]:
# Drop rows where all contributing factor columns are 'UNKNOWN' or 'UNSPECIFIED'
merged_data_cleaned = merged_data_cleaned[
    ~(
        (merged_data_cleaned['CONTRIBUTING FACTOR VEHICLE 1'].isin(['UNKNOWN', 'UNSPECIFIED'])) &
        (merged_data_cleaned['CONTRIBUTING FACTOR VEHICLE 2'].isin(['UNKNOWN', 'UNSPECIFIED'])) &
        (merged_data_cleaned['CONTRIBUTING FACTOR VEHICLE 3'].isin(['UNKNOWN', 'UNSPECIFIED'])) &
        (merged_data_cleaned['CONTRIBUTING FACTOR VEHICLE 4'].isin(['UNKNOWN', 'UNSPECIFIED'])) &
        (merged_data_cleaned['CONTRIBUTING FACTOR VEHICLE 5'].isin(['UNKNOWN', 'UNSPECIFIED']))
    )
]

# Display the result to confirm rows were dropped
print(f"Data after dropping rows with all 'UNKNOWN' or 'UNSPECIFIED' contributing factors:")
print(merged_data_cleaned.shape)

In [ ]:
merged_data_cleaned.to_csv(str(dir_path / raw_data_path))